
    .card{
    width: 600px;
    border:none;
    }
    .btl{
    border-top-left-radius: 5px !important;
    }
    .btn-dark {
      color: #fff;
      background: linear-gradient(-170deg, rgb(27, 70, 136) 19%, rgb(73, 184, 197) 100%);
      border-color: #414141;
      text-align: center;
    }
    .btn-dark:hover {
      color: #fff;
      background: linear-gradient(-170deg, rgb(73, 184, 197) 19%, rgb(27, 70, 136) 100%);
      border-color: #788C97
    }
    .nav-pills{
    width:100%;
    background: linear-gradient(-170deg, rgb(27, 70, 136) 19%, rgb(73, 184, 197) 100%);
}
    .nav-pills .nav-link {
      border-radius: 0px;
    }
    .form{
    padding: 10px;
        height: 190px;
    }
    .form input{
    margin-bottom: 12px;
    border-radius: 3px;
    }
    .form input:focus{
    box-shadow: none;
    }
    .form button{
    margin-top: 20px;
    }
    .login{
        margin-left: 10px;
    }
    .btn {
                border-radius: 0; /* Remove border radius */
                padding: 6px 15px;
                font-size: 16px;
                display: block;
                width: 100px;
                text-align: center;
            }
    .form-control {
                border: none;
                border-bottom: 1px solid #000;
                padding: 10px 0;
                width: 100%;
                box-sizing: border-box;
                color: #6c757d; /* Placeholder color */
                font-size: 16px;
            }
    
            .form-control::placeholder {
                color: #6c757d; /* Placeholder color */
            }
    
            .form-control:focus {
                outline: none;
                border-bottom: 2px solid #000; /* Change thickness on focus */
            }
            .image-login{
                padding: 10px;
                width: 200px;
            }
            .image-login1{
                padding: 10px;
                width: 100px;
            }
            .input-container {
       position: relative;
    }
    
    .input-container .icon {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
       color: #000000;
    }
    
    .input-container input {
       padding-left: 35px;  /* Adjust this value to add space for the icon */
    }
    